---
layout: default
title: Home
headline: Benvenuti nel sito di PATTO PER CHIARI GREEN
should_hide_title: true
top_image_path: /assets/uploads/salogni-127_volantino_cornice_02.jpg
top_image_alt: Foto della Squadra
---
<h1>{{ page.headline }}</h1>
<div class="container-fluid d-flex justify-content-center mb-4">

  <img
    src="{{ page.top_image_path }}"
    alt="{{ page.top_image_alt }}"
    class="img-fluid">
</div>


<div class="container-lg d-flex justify-content-center">
  <section aria-labelledby="news-section">
    <h2 class="text-primary text-center mt-3 mb-4" id="news-section">Ultime news</h2>
    {% include post_list.html limit=3 %}
  </section>


</div>