---
title: Lista
summary: la Squadra di PATTO PER CHIARI GREEN !!!
---
<p>{{ page.summary }}</p>

<ul class="list-unstyled d-flex justify-content-center flex-wrap">
  {% assign sorted_list = site.lista | sort: 'order' %}
  {% for membro in sorted_list %}
    <li class="m-3" style="list-style-type: none;">
      <div class="card" style="width: 18rem;">
        <img
          src="{{ membro.image }}"
          alt="{{ membro.image_alt }}"
          class="card-img-top">
        <div class="card-body text-center">
          <h2 class="card-title">{{ membro.name }} {{ membro.surname }}</h2>
          <p class="card-subtitle">{{ membro.summary }}</p>
        </div>
        <div class="card-footer d-flex justify-content-center">
          <a class="btn btn-primary" href="{{ membro.url }}">Scopri di più su {{ membro.name }}</a>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>