---
title: Programma
summary: programma
---
<p>{{ page.summary }}</p>

<ul>
  {% assign sorted_programma = site.programma | sort: 'order' %}
  {% for punto in sorted_programma %}
    <li style="list-style-type: none; margin-bottom: 92px;">
      <h2>{{ punto.title }}</h2>
      <h3>{{ punto.subtitle }}</h3>
      <p class="lead">{{ punto.excerpt }}</p>
      <a href="{{ punto.url }}">Maggiori dettagli su: {{ punto.title }}</a>
    </li>
    <hr>
  {% endfor %}
</ul>