<footer class="footer mt-5 pt-4">


  <hr>
  <div class="container">

    <div class="d-flex align-items-center justify-content-center">
      Seguici su: {% include socials.html %}
    </div>

    <div class="d-flex align-items-center justify-content-center flex-column flex-lg-row my-4">
      <div class="copyright">
        © {{ 'now' | date: "%Y" }} {{ site.data.info.title }} -
        <a href="/privacy">Informativa privacy</a>
      </div>
      <ul class="nav nav-footer d-flex flex-column flex-lg-row" style="padding-inline-start: unset;">
        {% for item in site.data.navigation %}
          <li class="nav-item text-center text-lg-start">
            <a href="{{ item.url | relative_url }}" class="nav-link">
              <span class="nav-link-inner--text">{{ item.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% comment %} <div class="mb-4 text-end">Progettato e offerto da
                  <a href="https://accesee.netlify.app/">Accesee</a>
            di Mattia Ducci</div> {% endcomment %}

  </div>

</footer>