<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="{{ site.data.info.logo }}"
        alt="Vai alla home page"
        style="width: 64px;"
        class="d-inline-block">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for nav_item in site.data.navigation %}
          <li class="nav-item">
            {% comment %} {% assign page_url = page.url | filename_no_ext | prepend: '/' %} {% endcomment %}
            <a class="nav-link {% if page.url contains nav_item.url %}highlighted{% endif %}" href="{{ nav_item.url }}">{{ nav_item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>