{% for post in site.posts | limit: include.limit %}
  {% include single_post.html post=post %}
{% endfor %}
{% if site.posts | size > include.limit %}
  <div class="mt-4 d-flex justify-content-center">
    <a href="/news">Tutte le news</a>
  </div>
{% endif %}