<div class="row mb-3">
  <div class="col-lg-4">
    {%- if include.post.featured_image -%}
      <img
        src="{{ include.post.featured_image }}"
        alt="{{ include.post.featured_image_alt }}"
        class="img-fluid">
    {%- endif -%}
  </div>
  <div class="col-lg-8">
    <h2>
      <a href="{{ include.post.url }}">{{ include.post.title }}</a>
    </h2>
    <p class="author">
      <span class="date">{{ include.post.date | date: "%d/%m/%Y" }}</span>
    </p>
    <p class="lead">
      {{ include.post.excerpt }}
    </p>
  </div>

</div>